#announcements {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000000cc;
    width: 100dvw;
    padding: 16px;
    z-index: 999;
    @media (width <= 768px) {
        position: sticky;
    }
}

#announcements p,
#announcements h2,
#announcements ul {
    color: $white;
}

#announcements a {
    color: $light-miku;
    font-weight: 800;
}

#announcements p {
    padding-top: 0.5em;
}
