.app-en {
    font-family: "Noto Sans JP", sans-serif;
}

.app-pl {
    font-family: "Noto Sans JP", "Noto Sans", sans-serif;
    button {
        font-family: "Noto Sans JP", "Noto Sans", sans-serif;
        font-weight: 800;
        p {
            font-weight: 400;
        }
    }
}
