.app-en,
.app-ja {
    font-family: "FOT-RodinNTLGPro-DB", sans-serif;
    h1,
    h2,
    h3 {
        font-family: "FOT-RodinNTLGPro-EB";
        font-weight: normal;
    }

    p,
    button,
    select,
    label {
        font-family: "FOT-RodinNTLGPro-DB", sans-serif;
        font-weight: normal;
    }

    h1 {
        line-height: 3rem;
    }
    h2,
    h3 {
        line-height: 2.25rem;
    }
    p,
    label, li {
        line-height: 1.5rem;
    }

    button,
    select {
        font-family: "FOT-RodinNTLGPro-EB", sans-serif;
        p {
            font-family: "FOT-RodinNTLGPro-DB", sans-serif;
        }
    }

    #sidebar {
        h3,
        p {
            font-family: "FOT-RodinNTLGPro-DB", sans-serif;
        }
    }
    #flavor-text {
        font-family: "FOT-RodinNTLGPro-M", sans-serif;
    }

    // .middle-information {
    //     p {
    //         font-family: "FOT-RodinNTLGPro-M", sans-serif;
    //     }
    // }
}

[class^="app-"]:not(.app-en):not(.app-ja) {
    font-family: "Noto Sans JP", "Noto Sans TC", "Noto Sans SC", "Noto Sans HK",
        "Noto Sans KR", "Noto Sans Thai", "Noto Sans", sans-serif;
    button,
    select {
        font-family: "Noto Sans JP", "Noto Sans TC", "Noto Sans SC",
            "Noto Sans HK", "Noto Sans KR", "Noto Sans", sans-serif;
        font-weight: 800;
        p {
            font-weight: 400;
        }
    }
    button.btn-circle {
        font-family: "Noto Sans", sans-serif;
    }
}
