input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    background: none;
    border: 0;
    outline: 0;
    flex-grow: 0;
    background-color: $white;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px rgba(68, 68, 102, 0.5);
}

input[type="checkbox"]::before {
    content: "";
    display: block;
    height: 100%;
    border-radius: inherit;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1px $white;
}

input[type="checkbox"]:checked::before {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='24' viewBox='0 0 30 24' fill='none'%3E%3Cline x1='2.82843' y1='9.17157' x2='14.8284' y2='21.1716' stroke='%23FF77AC' stroke-width='8'/%3E%3Cline x1='9.17157' y1='21.1716' x2='27.1716' y2='3.17157' stroke='%23FF77AC' stroke-width='8'/%3E%3C/svg%3E");
    background-size: 70%; // Adjust to fit properly
}

.checkbox {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 5px 0;
}

.checkbox__label {
    font-size: 20px;
    margin-left: 20px;
    color: $black;
}
