.loading-container {
    height: 100px;
    width: 100px;
    position: relative;
    opacity: 100%;
    transition: opacity 0.1s;
    pointer-events: none;
    user-select: none;
}

.loading-fill {
    height: 100px;
    width: 100px;
    position: absolute;
    pointer-events: none;
    user-select: none;
}
