select {
    font-family: "FOT-RodinNTLGPro-EB";
    border: none;
    padding: 8px 50px 8px 20px;
    font-size: 20px;
    border-radius: 25px;
    box-shadow: 0px 0px 8px 0px rgba(68, 68, 102, 0.5);
    min-width: 100%;
    max-width: 100%;
    background-color: $white;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='50' width='50' viewBox='0 0 25 25' xmlns='http://www.w3.org/2000/svg'><path d='M7 9l5 8 5-8z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-overflow: ellipsis;
    margin: 10px 0px;
    color: $black;
    cursor: pointer;
    min-height: 55px;
}
