input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    height: 5px;
    margin: 15px 0;
    width: 100%;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: $light-miku;
    height: 5px;
}

input[type="range"]::-moz-range-track {
    background: $light-miku;
    height: 5px;
}


input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border: 3px $white solid;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: $white;
    box-shadow: 0px 0px 8px 0px rgba(68, 68, 102, 0.5);
    height: 20px;
    width: 20px;
    margin-top: -7px;
}

input[type="range"]::-moz-range-thumb {
    border: 3px $white solid;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: $white;
    box-shadow: 0px 0px 8px 0px rgba(68, 68, 102, 0.5);
    height: 20px;
    width: 20px;
}
