#support-button {
    @media (width <= 768px) {
        z-index: 999;
    }
}

.screen {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000bb;
    height: 100dvh;
    width: 100vw;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: auto;

    h2 {
        padding-top: 10px;
    }
    p {
        padding-bottom: 5px;
    }
}

#export-screen {
    .window {
        width: 90dvw;
        min-height: 80dvh;
        max-width: 768px;
    }
}

.window {
    display: flex;
    flex-direction: column;
    background-color: $light-gray;
    padding: 20px;
    border-radius: 20px;
    max-width: 768px;
    max-height: 80dvh;
    overflow: visible;
    img {
        @media (width <= 768px) {
            width: 70%;
        }
        max-width: 70%;
    }
    .width-100 {
        width: 100%;
        max-width: 100%
    }
    animation: open_window 0.05s linear;
}

.window__90_width {
    .window {
        width: 90dvw;
        max-width: 768px;
    }
}

@keyframes open_window {
    0% {
        transform: scale(50%);
    }
    100% {
        transform: scale(100%);
    }
}

.window__content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
    overflow-y: visible;
    overflow-x: hidden;
    height: 100%;

    select {
        box-sizing: border-box;
    }
    textarea {
        height: 100%;
        font-size: 1em;
        font-family: monospace;
    }
}

.window-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.window__buttons {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    @media (width <= 768px) {
        flex-direction: column;
    }
    @media (width > 768px) {
        flex-direction: row;
    }

    button {
        margin: 10px;
    }
}

.window__divider {
    width: 100%;
    margin: 4px 0px;
}
